<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud operations</title>
</head>
<body>
    <form action="">
        <button>add student</button>
    </form><br>
    <form action="">
        <button>delete student</button>
    </form><br>
    <form action="">
        <button>update student</button>
    </form><br>
    <a href="/student">get students</a>
</body>
</html>