<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud operations</title>
</head>
<body>
    <h1>SEARCH FACULITY</h1>
    <form action="/faculity" method="GET" >
          <input type="text" placeholder="username" name="name">
          <button type="submit" >Search</button>
      </form><br><br><br>
      <h1>SAVE NEW FACULITY</h1>
      <form action="/save" method="POST" >
       
        <input type="text" placeholder="username" name="name" required><br>
        <input type="text" placeholder="password" name="password"required><br>
        <div>
            <input type="radio" id="HOD" name="position" value="true"
                   checked >
            <label for="HOD">HOD</label>
          </div>
      
          <div>
            <input type="radio" id="Mentor" name="position" value="false">
            <label for="Mnetor">Mentor</label>
          </div>
        <button type="submit" >add data</button>
      </form><br><br><br>
      <h1>DELETE FACULITY MEMEBER</h1>
    <form action="/delete" method="POST" >
        <input type="text" placeholder="username" name="name">
        <button type="submit" >delete</button>
    </form><br><br><br>
    <h1>UPDATE FACULITY MEMBER</h1>
    <form  >
        <input type="text" placeholder="update" name="name"><br>
        <input type="text" placeholder="password" name="password"required><br>
        <input type="radio" id="HOD" name="position" value="true"
                   checked >
            <label for="HOD">HOD</label>
          </div>
      
          <div>
            <input type="radio" id="Mentor" name="position" value="false">
            <label for="Mnetor">Mentor</label>
          </div>
        <button type="submit" >update</button>
    </form>
    <a href="/faculity">get students</a>
</body>
</html>